* {
    box-sizing: border-box;
  }

  .questions {
    width: 70%;
    float: left;
    padding: 15px;
    border: 1px solid orange;
    margin-right: 5%;
  }
  
  .quiz {
    width: 25%;
    float: right;
    padding: 15px;
    border: 1px solid yellow;
  }

  .parent-container {
    display: flex;
    flex-direction: row;
  }
  
  .child-div {
    width: 60%;
    margin-right: 5%;
    outline: 1px solid rgb(182, 119, 67);
    padding: 10px;
    border-radius: 5px;
  }
 
  #optionContainer {
   width: 40%;
   
  }
  